.image-85-icon {
  position: absolute;
  top: 0;
  left: 515px;
  width: 347px;
  height: 434px;
  object-fit: cover;
}
.image-123-icon,
.image-84-icon,
.image-86-icon {
  position: absolute;
  top: 4px;
  left: 866px;
  width: 343px;
  height: 430px;
  object-fit: cover;
}
.image-123-icon,
.image-86-icon {
  left: 1219px;
  width: 328px;
}
.image-123-icon {
  top: 6px;
  left: 0;
  width: 508px;
  height: 428px;
}
.background-div,
.rectangle-icon3 {
  position: absolute;
  top: 64px;
  left: 0;
  width: 1547px;
  height: 434px;
}
.rectangle-icon3 {
  top: 0;
  left: -4px;
  border-radius: var(--br-md);
  width: 581.56px;
  height: 395px;
}
.how-can-we-find-this-place {
  position: absolute;
  top: 29.29px;
  left: 24.67px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-gupter);
  width: 622.9px;
  height: 129.51px;
}
.description-div1,
.name-description,
.official-place-name1 {
  position: absolute;
  left: 24.67px;
  display: inline-block;
  width: 609.02px;
  height: 44.71px;
}
.name-description {
  top: 94.05px;
  font-size: var(--font-size-2xl);
}
.description-div1,
.official-place-name1 {
  top: 134.14px;
}
.description-div1 {
  top: 231px;
  left: 25px;
}
.descinputbox-icon1,
.shopnameinputbox-icon {
  position: absolute;
  top: 161.89px;
  left: 24.67px;
  border-radius: var(--br-3xs);
  width: 511.89px;
  height: 43.17px;
  opacity: 0.4;
}
.descinputbox-icon1 {
  top: 252.86px;
  height: 92.51px;
}
.rectangle-icon4,
.shop-name2 {
  position: absolute;
  top: 641px;
  left: 179px;
  width: 647.57px;
  height: 387px;
}
.rectangle-icon4 {
  top: 0;
  left: -4px;
  border-radius: var(--br-md);
  width: 585px;
  height: 389px;
}
.contact-information-b {
  position: absolute;
  top: 32px;
  left: 23px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  width: 614px;
  height: 46px;
}
.contact-no-optional1,
.div1,
.email-optional-div1,
.website-or-facebook-page-url1 {
  position: absolute;
  top: 81px;
  left: 23px;
  display: inline-block;
  width: 614px;
  height: 44px;
}
.div1,
.email-optional-div1,
.website-or-facebook-page-url1 {
  top: 179px;
  height: 45px;
}
.div1,
.website-or-facebook-page-url1 {
  top: 277px;
}
.div1 {
  top: 120px;
  left: 40px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  width: 59px;
  height: 22px;
}
.contactinputbox-icon1,
.emailinputbox-icon1,
.rectangle-icon5,
.urlinputbox-icon1 {
  position: absolute;
  top: 106px;
  left: 23px;
  border-radius: var(--br-3xs);
  width: 516px;
  height: 44px;
  opacity: 0.4;
}
.emailinputbox-icon1,
.rectangle-icon5,
.urlinputbox-icon1 {
  top: 210px;
}
.rectangle-icon5,
.urlinputbox-icon1 {
  top: 302px;
}
.rectangle-icon5 {
  top: 106px;
  width: 73px;
}
.contact-details-div1,
.rectangle-icon6 {
  position: absolute;
  top: 641px;
  left: 790px;
  width: 637px;
  height: 381px;
}
.rectangle-icon6 {
  top: 0;
  left: -4px;
  border-radius: var(--br-md);
  width: 586px;
  height: 296px;
}
.icon1 {
  position: absolute;
  top: 111px;
  left: 33px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.address-b {
  position: absolute;
  top: 36px;
  left: 25px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  width: 614px;
  height: 45px;
}
.citytownstateprovinceregio-div1,
.street-address-div1 {
  position: absolute;
  top: 76px;
  left: 25px;
  display: inline-block;
  width: 614px;
}
.street-address-div1 {
  top: 176px;
  height: 45px;
}
.cityinputbox-icon1 {
  position: absolute;
  top: 104px;
  left: 25px;
  border-radius: var(--br-3xs);
  width: 516px;
  height: 44px;
  opacity: 0.4;
}
.enter-building-number-and-stre1 {
  position: absolute;
  top: 252px;
  left: 30px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  display: inline-block;
  width: 347px;
  height: 22px;
}
.streetinputbox-icon1 {
  position: absolute;
  top: 202px;
  left: 25px;
  border-radius: var(--br-3xs);
  width: 516px;
  height: 44px;
  opacity: 0.4;
}
.address-details-div,
.button-icon5 {
  position: absolute;
  top: 1101px;
  left: 510px;
  width: 639px;
  height: 288px;
}
.button-icon5 {
  top: 0;
  left: -4px;
  border-radius: var(--br-lg);
  width: 395px;
  height: 78px;
}
.continue-b2 {
  position: absolute;
  top: 27px;
  left: 153px;
  display: inline-block;
  width: 627px;
  height: 81px;
}
.continuebtn-div1 {
  position: absolute;
  top: 1426px;
  left: 603px;
  width: 780px;
  height: 108px;
  cursor: pointer;
  font-size: var(--font-size-2xl);
  font-family: var(--font-gupter);
}
.line-icon1 {
  position: absolute;
  top: 1056px;
  left: 203px;
  border-radius: var(--br-2xs);
  width: 1180px;
  height: 2px;
}
.footer-icon1,
.go-back7 {
  position: absolute;
  top: 1589px;
  left: 0;
  width: 1621px;
  height: 143px;
}
.go-back7 {
  top: 1524px;
  left: 756px;
  font-size: var(--font-size-2xl);
  text-decoration: underline;
  display: inline-block;
  font-family: var(--font-gupter);
  width: 404px;
  height: 52px;
  cursor: pointer;
}
.purple-wave-icon1,
.taskbar-div6 {
  position: absolute;
  top: 124px;
  left: 0;
  width: 1540px;
  height: 589.58px;
}
.taskbar-div6 {
  top: -14px;
  left: -6px;
  background-color: var(--color-white);
  width: 1553px;
  height: 84px;
}
.accname-div7 {
  position: absolute;
  top: 12px;
  left: 52px;
  display: inline-block;
  width: 73px;
  height: 27px;
}
.accprofile-icon7,
.arrow-down-icon6 {
  position: absolute;
  top: 18px;
  left: 104px;
  width: 12px;
  height: 13px;
  object-fit: cover;
}
.accprofile-icon7 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  width: 42px;
  height: 42px;
}
.login-acc-icon7 {
  position: absolute;
  top: 14px;
  left: 1391px;
  width: 125px;
  height: 42px;
  font-family: var(--font-roboto-slab);
}
.quest-div7 {
  position: absolute;
  top: 11px;
  left: 48px;
  display: inline-block;
  width: 73px;
  height: 27px;
}
.quest-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  object-fit: cover;
}
.quest-icon-div7 {
  position: absolute;
  top: 17px;
  left: 1273px;
  width: 121px;
  height: 41px;
  font-family: var(--font-roboto-slab);
}
.logo-icon16 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 94.02px;
  height: 70.71px;
  object-fit: cover;
}
.tourit-b7 {
  position: absolute;
  top: 19px;
  left: 74px;
  display: inline-block;
  width: 153.85px;
  height: 20.98px;
}
.logo-div7 {
  position: absolute;
  top: -1px;
  left: 10px;
  width: 227.85px;
  height: 70.71px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto-slab);
}
.searchbar-div7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 706px;
  height: 42px;
}
.searchicon7 {
  position: absolute;
  top: 6px;
  left: 665px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.search-div6 {
  position: absolute;
  top: 14px;
  left: 269px;
  width: 706px;
  height: 42px;
}
.add-a-thing-to-do1 {
  position: absolute;
  top: 536px;
  left: 525px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  font-family: var(--font-gupter);
  color: var(--color-indigo);
  width: 878px;
  height: 87px;
}
.list-a-thing-to-do-1 {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 1606px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-josefin-sans);
}
