.background-pic-icon,
.wavy-icon {
  position: absolute;
  top: 541px;
  left: 0;
  width: 1540px;
  height: 80px;
}
.background-pic-icon {
  top: 0;
  width: 1573px;
  height: 727px;
  object-fit: cover;
}
.shop-container-icon {
  position: absolute;
  top: 0;
  left: -4px;
  border-radius: var(--br-md);
  width: 581.56px;
  height: 395px;
}
.shop-name-description {
  position: absolute;
  top: 47px;
  left: 20px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-gupter);
  width: 622.9px;
  height: 129.51px;
}
.description-div,
.official-place-name {
  position: absolute;
  top: 123.14px;
  left: 24.67px;
  display: inline-block;
  width: 609.02px;
  height: 44.71px;
}
.description-div {
  top: 217px;
  left: 25px;
}
.descinputbox-icon,
.nameinputbox-icon {
  position: absolute;
  top: 145.89px;
  left: 24.67px;
  border-radius: var(--br-3xs);
  width: 511.89px;
  height: 43.17px;
  opacity: 0.4;
}
.descinputbox-icon {
  top: 237.86px;
  height: 92.51px;
}
.shop-details-div {
  position: absolute;
  top: 641px;
  left: 179px;
  width: 642.9px;
  height: 387px;
}
.contact-container-icon {
  position: absolute;
  top: 0;
  left: -4px;
  border-radius: var(--br-md);
  width: 585px;
  height: 389px;
}
.contact-b {
  position: absolute;
  top: 35px;
  left: 25px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-gupter);
  width: 622.9px;
  height: 129.51px;
}
.contact-no-optional,
.div,
.email-optional-div,
.website-or-facebook-page-url {
  position: absolute;
  top: 81px;
  left: 23px;
  display: inline-block;
  width: 614px;
  height: 44px;
}
.div,
.email-optional-div,
.website-or-facebook-page-url {
  top: 179px;
  height: 45px;
}
.div,
.website-or-facebook-page-url {
  top: 277px;
}
.div {
  top: 120px;
  left: 40px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  width: 59px;
  height: 22px;
}
.contactinputbox-icon,
.emailinputbox-icon,
.square-icon,
.urlinputbox-icon {
  position: absolute;
  top: 106px;
  left: 23px;
  border-radius: var(--br-3xs);
  width: 516px;
  height: 44px;
  opacity: 0.4;
}
.emailinputbox-icon,
.square-icon,
.urlinputbox-icon {
  top: 210px;
}
.square-icon,
.urlinputbox-icon {
  top: 302px;
}
.square-icon {
  top: 106px;
  width: 73px;
}
.contact-details-div {
  position: absolute;
  top: 641px;
  left: 790px;
  width: 647.9px;
  height: 381px;
}
.location-container-icon {
  position: absolute;
  top: 0;
  left: -4px;
  border-radius: var(--br-md);
  width: 586px;
  height: 296px;
}
.icon {
  position: absolute;
  top: 111px;
  left: 33px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.citytownstateprovinceregio-div,
.street-address-div {
  position: absolute;
  top: 76px;
  left: 25px;
  display: inline-block;
  width: 614px;
}
.street-address-div {
  top: 176px;
  height: 45px;
}
.cityinputbox-icon {
  position: absolute;
  top: 104px;
  left: 25px;
  border-radius: var(--br-3xs);
  width: 516px;
  height: 44px;
  opacity: 0.4;
}
.enter-building-number-and-stre {
  position: absolute;
  top: 253px;
  left: 34px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
  display: inline-block;
  width: 347px;
  height: 22px;
}
.streetinputbox-icon {
  position: absolute;
  top: 202px;
  left: 25px;
  border-radius: var(--br-3xs);
  width: 516px;
  height: 44px;
  opacity: 0.4;
}
.location-b {
  position: absolute;
  top: 26px;
  left: 30px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-gupter);
  width: 622.9px;
  height: 129.51px;
}
.button-icon,
.location-details-div {
  position: absolute;
  top: 1098px;
  left: 510px;
  width: 652.9px;
  height: 288px;
}
.button-icon {
  top: 0;
  left: -4px;
  border-radius: var(--br-lg);
  width: 395px;
  height: 78px;
}
.save-changes-b {
  position: absolute;
  top: 26px;
  left: 140px;
  display: inline-block;
  width: 627px;
  height: 81px;
}
.save-button-div {
  position: absolute;
  top: 1426px;
  left: 603px;
  width: 767px;
  height: 107px;
  cursor: pointer;
  font-size: var(--font-size-2xl);
  font-family: var(--font-gupter);
}
.line-icon {
  position: absolute;
  top: 1056px;
  left: 203px;
  border-radius: var(--br-2xs);
  width: 1180px;
  height: 2px;
}
.footer-bar-icon {
  position: absolute;
  top: 1589px;
  left: 0;
  width: 1621px;
  height: 143px;
}
.go-back1,
.update-your-shop {
  position: absolute;
  display: inline-block;
  font-family: var(--font-gupter);
}
.go-back1 {
  top: 1524px;
  left: 756px;
  font-size: var(--font-size-2xl);
  text-decoration: underline;
  width: 404px;
  height: 52px;
  cursor: pointer;
}
.update-your-shop {
  top: 540px;
  left: 475px;
  font-size: var(--font-size-12xl);
  color: var(--color-indigo);
  width: 878px;
  height: 87px;
}
.taskbar-outline-div {
  position: absolute;
  top: -14px;
  left: -6px;
  background-color: var(--color-white);
  width: 1553px;
  height: 84px;
}
.accname-div1 {
  position: absolute;
  top: 12px;
  left: 52px;
  display: inline-block;
  width: 73px;
  height: 27px;
}
.accprofile-icon1,
.arrowdown-icon {
  position: absolute;
  top: 18px;
  left: 104px;
  width: 12px;
  height: 13px;
  object-fit: cover;
}
.accprofile-icon1 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  width: 42px;
  height: 42px;
}
.login-acc-icon1 {
  position: absolute;
  top: 11px;
  left: 1391px;
  width: 125px;
  height: 42px;
  font-family: var(--font-roboto-slab);
}
.quest-div1 {
  position: absolute;
  top: 11px;
  left: 48px;
  display: inline-block;
  width: 73px;
  height: 27px;
}
.quest-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  object-fit: cover;
}
.quest-icon-div1 {
  position: absolute;
  top: 15px;
  left: 1258px;
  width: 121px;
  height: 41px;
  font-family: var(--font-roboto-slab);
}
.logo-icon2 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 94.02px;
  height: 70.71px;
  object-fit: cover;
}
.tourit-b1 {
  position: absolute;
  top: 19px;
  left: 74px;
  display: inline-block;
  width: 153.85px;
  height: 20.98px;
}
.logo-div1 {
  position: absolute;
  top: -1px;
  left: 10px;
  width: 227.85px;
  height: 70.71px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto-slab);
}
.searchbar-div1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 706px;
  height: 42px;
}
.searchicon1 {
  position: absolute;
  top: 6px;
  left: 665px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.search-bar-div {
  position: absolute;
  top: 14px;
  left: 269px;
  width: 706px;
  height: 42px;
}
.purple-wave-icon,
.wavy-icon1 {
  position: absolute;
  top: 464px;
  left: 0;
  width: 1540px;
  height: 83px;
}
.purple-wave-icon {
  top: 157px;
  height: 589.58px;
}
.update-shop-2-div {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 1606px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-josefin-sans);
}
